<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Trang chủ</a>
    </div>
</nav>
<br>
<div class="container">
    <h2>Thêm học sinh</h2>
    <form action='/hoc-sinh/add' method="POST" enctype="multipart/form-data">
        <p>Họ tên<input type="text" name="HoTen" class="form-control"/></p>

        <p>Lớp:<select name="Lop" class="form-control">
            {% for lop in lops %}
            <option value={{lop.Id}}>{{lop.TenLop}}</option>
            {% endfor %}
        </select></p>
        <p>Video khuôn mặt <input type="file" name="file" class="form-control"/></p>
        <p><input type="submit" value="Thêm" class="btn btn-primary"/></p>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</html>